@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #E5E7EB;
  /* 2 */
}
html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  font-family: "Open Sans", Arial;
  background: #EDEDED;
  /* 2 */
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}



button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.description-title{
    width: 100%;
    background-color: #fff;
    max-width: calc(100% - 5px);
    margin: 0 auto;
     padding-bottom: 20px;
    border-top: 14px solid #fca311;
    border-bottom: 0.4px solid #fca311;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.description-title h2{
color: #524e4e;
font-size: 30px;
font-weight: 500;
 padding: 10px 20px;
 margin: 10px auto;

}
.question-description{
color: #524e4e;
font-weight: 500;
font-size: 16px;
 padding: 0px 20px;
 caption-side: top;
 text-transform: capitalize;
}
.description-title hr{
background: #000;
margin-top: 10px;

}   

.require-text{
    color: rgb(227, 68, 68);
    text-transform: capitalize;
    padding: 0px 30px;
}

@media screen and (max-width: 768px) {
  .description-title h2{
    font-size: 24px;
  }
  .question-description{
    font-size: 14px;
  }

}



.container {
    width: 100%;
}

.hidden {
    display: none !important;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
main {
  max-width: 1080px;
  width: 90%;
  margin: 10px auto;
  
}

/*  Start here pool Box Design  */
.PollBox{
    width: 100%;
    background-color:white;
    border-radius: 10px;
    border-top: 4px solid #fca21161;
    padding: 30px 35px;
    margin: 20px auto;
    transition:height linear .8s;
    -webkit-transition:height linear .8s;
    -moz-transition:height linear .8s;
    -ms-transition:height linear .8s;
    -o-transition:height linear .8s;
}
.main-tool-box{
  width: 100%;
  display: block;
}
.main-question{
    width: 100%;
    text-align: left;
    font-size: 20px;
    margin: 20px 0 5px 0;
    text-transform: capitalize;
    line-height: 32px;
    color: #060c12;
    font-weight: 600;
    word-break: keep-all;
}

.toolbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.question h2{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    color: #060c12;
    
}
.all-question{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


/* Question tool Box  */
.question-option{
    width: 100%;
    border: 1px solid rgba(209, 209, 209, 0.479);
    transition: all linear 1s;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    border-radius: 5px;
}


/* Question tool Box  */

/*  Start here pool Box Design  */

.question-bars {
	-webkit-animation: question-bars 1s linear both;
	        animation: question-bars 1s linear both;
}

@-webkit-keyframes question-bars {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes question-bars {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
.question-bars p {
 display: flex;
 justify-content: space-between;
 font-size: 16px;
 font-weight: 400;
 color: #020314;
 text-transform: capitalize;
 margin-right: 10px;
 margin-bottom: 5px;

}

.question-text {
    background-color: #f2b544;
    padding: 5px 10px;
    min-height: 30px;
    max-height: 40px;
}

.poolBars{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.poolOption{
    border: 1px solid rgba(255, 176, 18, 0.813);
    padding: 8px 12px;
    margin: 0px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    appearance: none;
}
.poolOption:focus{
  outline: none;
  
}

.viewBtn{
    font-size: 16px !important;
    border: 1px solid #fca21161;
    padding: 10px 15px;
    color: #fca311;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.viewBtn:hover,
.viewBtn:active{
  background-color:#fca311;
  color: white;
  border: 1px solid #fca31161;
  font-weight: 500;
}



/*  Responsive Design  */


p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 13px;
}

.piechart, 
.chart_div, 
.line-chart-google {
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 768px) {
  main{
    max-width: 90%;
  }
.piechart, 
.chart_div, 
.line-chart-google{
  width: 100%;
  height: 190px;
}
.main-question{
  font-size: 16px;
}
}



